$primary: white;
$dark-1: rgb(30, 30, 30);
$dark-2: #000000;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  color: white;
  background: black;
  position: relative;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 8em;
  margin: 0;
  margin-bottom: 0.4em;
}

h2 {
  font-weight: 100;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

p {
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* ----------hero-section---------- */

.hero-section {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10em;

  .hero-text {
    position: relative;
    padding-right: 4em;
    font-size: 10px;
    flex-grow: 1;
    // this properties are going to be changed in the animation:
    bottom: -50px;
    opacity: 0;
    animation: bottom-to-top 1s ease-out 1s;
    animation-fill-mode: forwards;
  }

  .steve {
    animation: fade 3s ease-in-out;
    height: 100vh;
  }
}

/* ----------photo-section---------- */

#img-div {
  max-width: 45em;
  width: 80%;
  margin: 0 auto;
}

#image {
  max-width: 100%;
  display: block;
}

#img-caption {
  font-weight: 300;
  text-align: center;
  margin: 1em 0;
}

.photo-section {
  margin-bottom: 10em;
}

/* ----------timeline---------- */

.timeline {
  max-width: 900px;
  margin: 0 auto 8em;

  .timeline-body {
    position: relative;
    background-color: $dark-1;
    margin-top: 7em;
    margin-left: 100px;
    border-radius: 0 8px 8px 0;
    padding: 5px 0;

    &:after {
      content: '';
      width: 4px;
      height: 100%;
      background-color: lightgray;
      position: absolute;
      left: -4px;
      top: 0;
    }

    .timeline-item {
      position: relative;

      &:after {
        content: '';
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        border: 6px solid lightgray;
        background-color: lightgray;
        position: absolute;
        left: -0.75em;
        top: 0.25em;
        z-index: 9;
      }

      .time {
        position: absolute;
        left: -7em;
        top: -0.43em;
        font-size: 0.8em;
      }

      .content {
        margin: 30px;
        padding-bottom: 5px;
        border-bottom: 1px dashed rgb(54, 54, 54);

        p {
          font-weight: 300;
          font-size: 1em;
        }
      }
    }

    .timeline-item:last-of-type {
      .content {
        border: none;
        margin-bottom: 0;
      }
    }
  }
}

/*----------book-section----------*/

.book-div {
  margin-bottom: 7em;
  text-align: center;
  p {
    width: 60%;
    margin: 0 auto 3em;
  }
  a {
    color: white;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: all 0.2s ease;
  }

  a:hover {
    color: gray;
    border-bottom-color: gray;
  }

  .a-img {
    border: none;
  }

  img {
    max-width: 10em;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.1);
  }
}

/*----------keyframes----------*/

@keyframes bottom-to-top {
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*----------media-queries----------*/

@media (max-width: 900px) {
  .hero-section {
    .hero-text {
      font-size: 8px;
      width: 60%;
    }

    .steve {
      width: 40%;
      height: initial;
    }
  }
}

@media (max-width: 450px) {
  body {
    font-size: 10px;
  }

  .hero-section {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('/images/steve.jpg');
    background-position: center;
    background-size: cover;

    .hero-text {
      font-size: 7px;
      width: 100%;
      padding: 0;
    }

    .steve {
      display: none;
    }

    h2 {
      width: 80%;
    }
  }

  .timeline {
    font-size: 13px;
  }

  .book-div {
    p {
      width: 90%;
    }
  }
}
