html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white;
  background: black;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 100;
}
