html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: white;
  background: black;
  position: relative;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 8em;
  margin: 0;
  margin-bottom: 0.4em;
}

h2 {
  font-weight: 100;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

p {
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* ----------hero-section---------- */
.hero-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10em;
}

.hero-section .hero-text {
  padding-right: 4em;
  font-size: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero-section .steve {
  height: 100vh;
}

/* ----------photo-section---------- */
#img-div {
  max-width: 45em;
  width: 80%;
  margin: 0 auto;
}

#image {
  max-width: 100%;
  display: block;
}

#img-caption {
  font-weight: 300;
  text-align: center;
  margin: 1em 0;
}

.photo-section {
  margin-bottom: 10em;
}

/* ----------timeline---------- */
.timeline {
  max-width: 900px;
  margin: 0 auto 8em;
}

.timeline .timeline-body {
  position: relative;
  background-color: #1e1e1e;
  margin-top: 7em;
  margin-left: 100px;
  border-radius: 0 8px 8px 0;
  padding: 5px 0;
}

.timeline .timeline-body:after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: -4px;
  top: 0;
}

.timeline .timeline-body .timeline-item {
  position: relative;
}

.timeline .timeline-body .timeline-item:after {
  content: "";
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  border: 4px solid white;
  background-color: #1e1e1e;
  position: absolute;
  left: -0.75em;
  top: 0.25em;
  z-index: 9;
}

.timeline .timeline-body .timeline-item .time {
  position: absolute;
  left: -7em;
  top: -0.43em;
  opacity: 0.5;
  font-size: 0.8em;
}

.timeline .timeline-body .timeline-item .content {
  margin: 30px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #363636;
}

.timeline .timeline-body .timeline-item .content p {
  font-weight: 100;
  font-size: 1em;
}

.timeline .timeline-body .timeline-item:last-of-type .content {
  border: none;
  margin-bottom: 0;
}

/*----------book-section----------*/
.book-div {
  margin-bottom: 7em;
  text-align: center;
}

.book-div p {
  width: 60%;
  margin: 0 auto 3em;
}

.book-div a {
  color: white;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.book-div a:hover {
  color: gray;
  border-bottom-color: gray;
}

.book-div .a-img {
  border: none;
}

.book-div img {
  max-width: 10em;
  display: block;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.book-div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*----------media-queries----------*/
@media (max-width: 900px) {
  .hero-section .hero-text {
    font-size: 8px;
    width: 60%;
  }
  .hero-section .steve {
    width: 40%;
    height: initial;
  }
}

@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
  .hero-section {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/steve.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/steve.jpg");
    background-position: center;
    background-size: cover;
  }
  .hero-section .hero-text {
    font-size: 7px;
    width: 100%;
    padding: 0;
  }
  .hero-section .steve {
    display: none;
  }
  .hero-section h2 {
    width: 80%;
  }
  .timeline {
    font-size: 13px;
  }
  .book-div p {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */